#tb_e window {
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0px 0px 100px -0px rgba(0, 0, 0, 0.293);
}

@font-face {
    font-family: 'sevSeg';
    src: url(Seven\ Segment.ttf)
}

#tb_e window display {
    border-radius: 10px;
    font-family: "sevSeg";
    box-shadow: 0px 0px 10px -0px rgba(255, 255, 255, 0.293) inset;
    color: rgb(0, 48, 13);
    background-color: rgb(0, 94, 9);
}

#tb_e window keyboard {}

#tb_e window keyboard key {
    box-shadow: 0px 0px 10px -0px rgba(255, 255, 255, 0.293) inset;
    transition: 0.25s;
    color: rgb(255, 255, 255);
    font-family: "Segoe";
    background: linear-gradient(0deg, rgb(134, 134, 134) 0%, rgb(45, 45, 45) 100%);
    border-radius: 10px 10px 20px 20px;
    margin: 3px;
    text-shadow: 0px 0px 4px #000000;
}

#tb_e window keyboard key:active {
    box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 0.293) inset;
    background: linear-gradient(180deg, rgb(159, 159, 159) 0%, rgba(81, 81, 81, 1) 100%);
}