#tb_et window {
    background-color: rgb(190, 190, 190);
}

#tb_et window display {
    font-size: xx-large !important;
    background-color: white;
    border-bottom: 4px rgb(223, 223, 223) solid;
    border-right: 4px rgb(223, 223, 223) solid;
    border-top: 4px rgb(33, 33, 33) solid;
    border-left: 4px rgb(33, 33, 33) solid;
}

#tb_et window keyboard {}

#tb_et window keyboard key {
    font-size: xx-large !important;
    background-color: rgba(0, 0, 0, 0);
    margin: 3px;
    border-top: 4px white solid;
    border-left: 4px white solid;
    border-bottom: 4px rgb(33, 33, 33) solid;
    border-right: 4px rgb(33, 33, 33) solid;
}

#tb_et window keyboard key:active {
    text-indent: 4px;
    font-size: xx-large !important;
    background-color: rgb(155, 155, 155);
    border-bottom: 4px rgb(223, 223, 223) solid;
    border-right: 4px rgb(223, 223, 223) solid;
    border-top: 4px rgb(33, 33, 33) solid;
    border-left: 4px rgb(33, 33, 33) solid;
}