#tb_md window {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px black;
}

@font-face {
    font-family: 'Segoe';
    src: url(SEGOEUI.TTF);
}

#tb_md window display {
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    border-bottom: rgb(36, 124, 255) 4px solid;
    background-color: rgb(255, 255, 255);
}

#tb_md window keyboard {}

#tb_md window keyboard key {
    transition: 0.15s;
    border-radius: 3px;
    color: rgb(36, 124, 255);
    font-family: "Roboto";
    background: rgb(255, 255, 255);
    margin: 10px;
}

#tb_md window keyboard key.num {
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.451);
    background: rgb(36, 124, 255);
    color: white;
}

#tb_md window keyboard key:active {
    background: rgb(218, 218, 218);
}

#tb_md window keyboard key.num:active {
    box-shadow: 0px 0px 4px grey;
    background: rgb(74, 147, 255);
}